.App {
    font-family: Arial, sans-serif;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures footer sticks to bottom */
  }
  .main-content {
    display: flex;
    flex: 1; /* Takes remaining space */
  }